* {
  font-family: Okra, Helvetica, sans-serif;
  margin: 0;
}
body {
  margin: 0px;
  background-color:lightyellow;
}
#header-background {
  position: relative;
}

.menu {
  margin-top: 0px;
  max-width: 80%;
  padding-top: 20px;
}

.downloadApp {
  width: 20px;
  height: 20px;
}
ul li {
  display: flex;
  /* padding-left:20%; */
  text-decoration: none;
  background-color: none;
  color: black;
  list-style: none;
  display: grid;
}
.menuItem {
  color: white;
  padding: 16px 13px;
  border-radius: 10px;
  cursor: pointer;
}
.menuApp {
  display: flex;
}
.iconClass {
  display: flex;
  width: 19px;
  height: 19px;
  opacity: 60%;
}

li a {
  display: flex;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

.newLi
{
    color:black;
}
.container1 {
  background-image: url("../img/background2.jpg");
  height: 55vh;
  background-repeat: no-repeat;
  width: 1350px;
  opacity: 100%;
  display: flex;
  margin: auto;
}
.leftMenu {
  display: flex;
  padding-left: 150px;
  float: left;
  /* padding-top:50px; */
  margin: auto;
}
.rightMenu {
  display: flex;
  margin: auto;
  float: right;
  padding-left: 400px;
}

.contentsWrapper {
  position: absolute;
  bottom: calc(50% - 6.1rem);
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
}

#imagetitle {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}
.searchContainer {
  display: flex;
  border-radius: 0.6rem;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
  height: 3rem;
  align-items: center;
  -moz-box-align: center;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.cityDropdown {
  display: flex;
  width: 13rem;
}
.searchBox {
  display: flex;
  width: 35rem;
  margin-left: 10px;
}

.verticalLine {
  border-right: thin solid grey;
}

/* .cityList
{
    border: none;
    width:80%;
}
.restaurantFinder
{
    border:none;
    width: 96%;
} */
h1 {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: lighter;
  margin-bottom: 15px;
}

#subtitle::before {
  display: flex;
  content: "\a";
  white-space: reserve;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("../img/zomato.avif"); */
}

#main {
  display: flex;
  margin: 40px 65px 0px 65px;
  justify-content: center;
}

.imageMain {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.image {
  height: 98%;
  width: 100%;
  border-radius: 10px;
}

.imageMain1 {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  position: relative;
}

.image1 {
  width: 235px;
  height: 235px;
  border-radius: 10px;
}

.orderWays:hover {
  width: 290px;
  height: 260px;
  cursor: pointer;
}

.orderWays {
  width: 280px;
  height: 250px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid lightgrey;
}
.orderText {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 30%;
}
.heading {
  font-weight: 200;
  font-size: medium;
  margin: 0%;
}
.heading1 {
  display: block;
  justify-content: center;
  margin-left: 209px;
  margin-top: 12px;
}
.subText {
  color: rgb(79, 79, 79);
  font-weight: lighter;
}
.form-control {
  border: none;
  width: 80%;
}
.form-control:focus {
  outline: none;
  width: 80%;
}

.collectionClass {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.collectionBoxWays {
  width: 230px;
  height: 35vh;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid lightgrey;
}

.collectionBoxWays :hover {
  cursor: pointer;
}
.collectionText {
  color: white;
  padding-left: 10px;
  position: absolute;
  font-weight: bolder;
  font-size: 10px;
  /* margin-top: -11px; */
}
li.footerList > h1 {
  margin-bottom: 10px;
  font-size: 17px;
}

li.footerList > a {
  float: left;
  /* margin-top:10px; */
  list-style: none;
  margin-bottom: 5px;
  color: grey;
  font-size: 15px;
}

li.footerList > a:hover {
  color: black;
}
.footerClass {
  margin-top: 20px;
  position:absolute;
}
.termsTitle {
  display: flex;
  justify-content: center;
  text-align: left;
}
.termsTitle > p {
  color: grey;
  display: flex;
  width: 75%;
  text-align: left;
  font-size: 13px;
  justify-content: center;
}
.horizontalLine > hr {
  display: flex;
  justify-content: center;
  width: 100%;
}
.horizontalLine > hr {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rowPrimary {
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100%;
}
.colPrimary {
  /* column-width: 200px; */
  column-count: 5;
  display: flex;
  justify-content: center;
  width: 70%;
  column-gap: 0px;
}
.colDisplay {
  display: flex;
  height: 55vh;
  width: 80%;
}
.subText1 {
  color: white;
  /* padding-left: 10px; */
  font-weight: normal;
  font-size: 13px;
  margin: 3%;
}
.h1Class {
  color: black;
  font-weight: bold;
  text-align: left;
}
.darkenedImage {
  filter: brightness(50%);
}
